name: Hola mundo Workflow
on:
  push:
    branches: 
      -main
jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps: 
      - name: Saludar
      run: echo "ยก Hola mundo desde GitHub Actions !" 